@page
@model WebApplication1.Pages.ConvertTimeModel
@{
}
<form method="post">
	<div class="container">
		<div class="row">
			<div class="col-2">Enter time in hrs</div>
			<div class="col-1"><input type="text" name="txt1" /></div>
		</div>
		<div class="row">
			<div class="col-2"><input type="submit" value="submit" name="submit" />
				
			</div>
			<div class="col-4">
				@TempData["res"]
			</div>
		</div>
	</div>
</form>